<?xml version="1.0"?>
<launch>
  <node pkg="tf" type="static_transform_publisher" name="world_to_map" output="screen" args="0 0 0 0 0 0 world map 100" />

  <!-- RVIZ -->
  <!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find aruco_gridboard)/data/aruco_grid.rviz"/ -->

  <!-- node ns="raspicam_node" pkg="image_proc" type="image_proc" name="image_proc"/ -->

  <!-- raspicam node -->
  <arg name="enable_raw" default="true"/>
  <arg name="enable_imv" default="false"/>
  <arg name="camera_id" default="0"/>
  <arg name="camera_frame_id" default="camera"/>
  <arg name="camera_name" default="camerav2_640x480"/>

  <node type="raspicam_node" pkg="raspicam_node" name="camera" output="screen">
    <param name="private_topics" value="true"/>

    <param name="camera_frame_id" value="$(arg camera_frame_id)"/>
    <param name="enable_raw" value="$(arg enable_raw)"/>
    <param name="enable_imv" value="$(arg enable_imv)"/>
    <param name="camera_id" value="$(arg camera_id)"/>

    <param name="camera_info_url" value="package://raspicam_node/camera_info/camerav2_640x480.yaml"/>
    <param name="camera_name" value="$(arg camera_name)"/>
    <param name="width" value="640"/>
    <param name="height" value="480"/>

    <!-- We are running at 90fps to reduce motion blur -->
    <param name="framerate" value="90"/>
  </node>

  <!-- Launch the detection node -->
  <node pkg="aruco_gridboard" type="aruco_gridboard" name="aruco_gridboard" output="screen" >
    <param name="board_path" value="$(find aruco_gridboard)/data/layout-my.yaml" />
    <param name="detector_param_path" value="$(find aruco_gridboard)/data/detector_params.yml" />
    <param name="debug_display" value="False" />
    <param name="camera_frame_name" value="camera" />
    <param name="camera_offset_y" value="0.07" />
    <param name="frequency" value="30" />

    <remap from="/aruco_gridboard/camera_info" to="/camera/camera_info"/>
    <remap from="/aruco_gridboard/image_raw" to="/camera/image"/>
  </node>

</launch>
